 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-ruby-plain colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-go-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-docker-plain"></i>
      <i class="devicon-amazonwebservices-plain colored"></i>
      <i class="devicon-redis-plain-wordmark"></i>
      <i class="devicon-git-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
